<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lsnu.vote.mapper.DebaterVoteUserMapper">

    <resultMap id="BaseResultMap" type="cn.lsnu.vote.model.domain.DebaterVoteUser">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="debaterVoteId" column="debater_vote_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="debaterId" column="debater_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,debater_vote_id,user_id,
        debater_id,create_time,update_time
    </sql>
</mapper>
